.reset-button {
  width: 100%;
  height: 48px;
  margin-top: 48px;
  background-color: var(--saffron);
  color: white;
  font-size: 16px;
  border-radius: 8px;
  transition: opacity ease-in-out 400ms;
  cursor: pointer;
}

.reset-button:hover {
  opacity: 0.8;
}
