.board {
  position: relative;
  display: grid;
  grid-template-columns: 150px 150px 150px;
  grid-template-rows: 150px 150px 150px;
  cursor: pointer;
}
@media screen and (max-width: 767px) {
  .board {
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px 100px;
  }
}
header {
  font-size: 1.5rem;
  margin: 10px;
  color: moccasin;
  animation: all 0.3s ease-in;
  text-align: center;
  
}
